.contact-section{
  background-color:rgb(1, 1, 34) ;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;

}
.contact-details{
  background-color:rgb(172, 172, 172) ;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.imfo{
  display: flex;
  flex-direction: column;
  
 

}
ul{
  list-style: none;
  padding: 5px;
  margin-right: 5px;
  text-align: start;
}

li{
  margin: 10px;
}
.form{
  padding: 20px;
  background-color:rgb(172, 172, 172) ;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.form input{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.form textarea{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 100px;
}
.form button{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(148, 86, 5);
  color: white;
  border: none;
  border-radius: 5px;
}
 .form button:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  color:black;
}